.dashboard__page {
    display: flex;
    margin: 0;
}

@include for-phone-tablet {
    .dashboard__page {
        display: flex;
        flex-direction: column;
    }
}

@include for-desktop-up {
    .dashboard__page {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
