.dashboard__greeting {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 51px;

    & p,
    &_title {
        font-size: 24px;
        line-height: 36px;
        margin: 0;
    }

    &_icon {
        height: 24px;
        width: 24px;
        margin: 7px 0 7px 4px;
    }
}

@include for-phone-tablet {
    .dashboard__greeting {
        margin-bottom: 30px;
    }
}