html, body {height:100%}

body {
    background-color: $white;
    box-sizing: border-box;
    user-select: none;
    font-family: Poppins;
    color: $black;
    margin: 0;
    width: 100%;
    font-size: 14px;
}

header {
    background-color: $white;
}

* {
    font-family: Poppins;
    color: $black;
    box-sizing: border-box;
}

h1,
h2 {
    font-family: Poppins;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-button__svg {
    width: 30px;
    height: 30px;
    margin: 20px 0 20px 20px;
    cursor: pointer;
    transform: scaleX(-1);
}

.menu-button__svg line {
    stroke: #192a6b;
    stroke-dasharray: 100%;
    stroke-dashoffset: 0%;
    transition: transform 0.3s, stroke-dashoffset .4s;
    transform-origin: center;
    stroke-width: 3px;
}

.menu-button__svg .top {
    transform: translateY(-35%);
}

.menu-button__svg .middle {
    transform: scaleX(1);
    transition: opacity .3s, transform .3s;
}

.menu-button__svg .bottom {
    transform: translateY(33%);
    stroke-dasharray: 100%;
    stroke-dashoffset: 9px;
}

.menu-button__svg:hover .bottom {
    stroke-dashoffset: 0%;
}

body.menu-open {
    position: relative;
}

body.menu-open .menu-button__svg .top {
    transform: rotate(45deg);
    stroke-linecap: round;
}

body.menu-open .menu-button__svg .middle {
    transform: scaleX(0.1);
    opacity: 0;
}

body.menu-open .menu-button__svg line.bottom {
    transform: rotate(-45deg);
    stroke-linecap: round;
}

body.menu-open .menu-button__svg .bottom {
    stroke-dashoffset: 0%;
}

@include for-desktop-up {
  .menu-button__svg {
    display: none;
  }

  .menu-open .menu-button__svg {
    display: block;
  }
}

