$white: #fff;
$black: #000;

$text: #292D32;

$light_grey: #9197B3;
$light_grey10: #f9fbff;
$light_grey20: #757575;
$light_grey30: #F9FBFF;
$light_grey40: #EEEEEE;
$light_grey50: #F5F5F5;
$light_grey60: #E7E7E7;
$lighter_grey: #B5B7C0;
$grey: #838383;

$blue: #5932EA;

$green: #16C098;
$green_light: #a6e7d8;
$dark_green: #5fcdb4;
$darker_green: #008767;

$light_red: #FFC5C5;
$red: #DF0404;